<div class="min-vh-100 bg-primary">
    <div class="position-absolute top-50 start-50 translate-middle text-center" id="grid" style="transition: width 0.5s">
        <div class="row py-4">
            <div class="col">
                <%= inline_svg_tag "logo.svg", size: "100% * 100%" %>
            </div>
        </div>
        <div class="row py-4">
            <div class="col">
                <a href="<%= play_path() %>" role="button" class="btn btn-secondary btn-lg text-primary w-75">Play!</a>
            </div>
        </div>
    </div>
</div>
<%= javascript_include_tag "game_home.js", "data-turbo-track": "reload" %>