<div class="min-vh-100 bg-primary">
    <div class="position-absolute top-50 start-50 translate-middle text-center w-100" style="transition: width 0.5s">
        <button role="button" class="btn btn-secondary btn-lg text-primary w-75" id="button">Test</button>
    </div>
</div>
<%= javascript_include_tag "game_play.js", "data-turbo-track": "reload" %>