<div class="container-xl position-absolute top-50 start-50 translate-middle text-center">
  <p class="fs-3 text-secondary text-decoration-underline lh-1">Private Sales</p>
  <div class="row mb-4">
    <% for i in 0..4 %>
      <div class="col">
        <%= image_tag card_png(@game.private_sales[i]), class: "m-1 border-5 border-secondary", width: 180, style: "image-rendering: pixelated", name: "buy-button",  data: { index: @game.private_sales[i] == nil ? -1 : i + 5 } %>
      </div>
    <% end %>
  </div>
  <p class="fs-3 text-secondary text-decoration-underline lh-1">Public Sales</p>
  <div class="row mb-4">
    <% for i in 0..4 %>
      <div class="col">
        <%= image_tag card_png(@game.public_sales[i]), class: "m-1 border-5 border-secondary", width: 180, style: "image-rendering: pixelated", name: "buy-button",  data: { index: i } %>
      </div>
    <% end %>
  </div>
  <p class="fs-3 text-secondary text-decoration-underline lh-1">Assets</p>
  <div class="row mb-4">
    <% for i in 0..4 %>
      <div class="col">
        <%= image_tag card_png(@game.assets[i]), class: "m-1 border-5 border-secondary", width: 180, style: "image-rendering: pixelated", name: "sell-button",  data: { index: i } %>
      </div>
    <% end %>
  </div>
  <%= button_to "Confirm", game_path(@game), method: :patch, id: "confirm-button", class: "btn btn-secondary btn-lg text-primary w-100", disabled: true, form: { id: "confirm-form" } %>
</div>