<div class="container-xl position-absolute top-50 start-50 translate-middle text-center">
  <%= inline_svg_tag "logo.svg", size: "95%" %>
  <%= button_to "Play!", games_path, method: :post, class: "btn btn-secondary btn-lg text-primary w-75 m-4" %>
</div>